<h1>Все рисунки</h1>

<% @sketches.each do |sketch| %>
  <div class="well"
    <h3><%= sketch.title %></h3>
    <p><%= sketch.text %></p>
  <%= link_to "Читать далее", sketch_path(sketch), :class => 'btn btn-default' %>
  </div>
<% end %>
